.messageBoxHeader {
	height: 30px;
	font-size: 28px;
	font-weight: 600;
	padding-left: 10px;
	padding-top: 3px;
	text-align: center;
}

.messageBoxButtons
{
	padding-left: 7px;
}

.messageBoxText {
	width: calc(100% - 20px);
	background: var(--background-color);
	color: var(--foreground-color);
	padding-left: 10px;
	border: none;
	overflow: hidden;
	resize: none;
}

.flexible-modal {
	position: absolute;
	z-index: 1;
	border: 1px solid #ccc;
	background: var(--background-color);
}

.flexible-modal-mask {
	position: fixed;
	height: 100%;
	background: rgba(35, 35, 35, 0.8);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.flexible-modal-resizer {
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: se-resize;
	margin: 5px;
	border-bottom: solid 2px #333;
	border-right: solid 2px #333;
}

.flexible-modal-drag-area {
	background: rgba(0, 0, 0, 0.4);
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	cursor: move;
}