.sleekTabs {
    height: 100%;
    width: 100%;
}

.tabHead {
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
    margin: 0px;
    padding-bottom: 0px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.tabPanelContainer
{
    height: 100%;
}

.tabHead:hover {
    opacity: 0.8;
}

.tabHead:focus {
    color: var(--theme-color);
    background-color: var(--background-color-very-dark);
    border-right: 1px solid black;
}

.tabContainer {
    height: 100%;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.tabHeader {
    width: 100%;
}
