.logPanelContainer
{
    width: 100%;
    height: calc(100% - 40px);
    cursor: pointer;
}

.logPanelHead
{
    height: 15px;
    background-color: var(--background-color-brighter);
}

.logPanelContent
{
    background-color: var(--background-color-darker);
    height: 100%;
}

.logPanelContent > div
{
    cursor: pointer;
}

.logTextField
{
    width: 100%;
    height: calc(100% - 10px);
}

.logTerminalHost
{
    height: calc(100% - 30px);
    width: 100%;
}