.tabContainer {
    display: contents;
    height: 100%;
    width: 100%;
}

.anyLogPanel {
    /*height: 100%;*/
}

.ReactTabs {
    height: 100%;
}

.tabContainer > div {
    height: 100%;
}

/*
.terminalPanel {
    height: 100%;
    width: 100%;
}
*/