#ToolbarContainer {
    background-color: var(--background-color-darker);
    padding: 3px;
    display: flex;
}

.Seperator {
    border-right: solid 1px var(--foreground-color);
    position: relative;
    top: 10%;
    height: 80%;
}

#ActualToolbar {
    align-content: center;
    display: flex;
}

.ToolbarGroup {
    position: relative;
    top: calc(50% - 13px);
    display: flex;
    align-items: flex-start;
}

.ToolbarComboBoxDiv
{
    width: 200px;
    padding-top: 5px;
    padding-left: 3px;
}